# Generated with pip freeze
appscript==1.2.2
comtypes==1.2.0
doc2pdf==0.2.0
docx==0.2.4
docx2pdf==0.1.8
fpdf==1.7.2
lxml==4.9.3
Pillow==10.0.0
PyPDF2==3.0.1
python-docx==0.8.11
reportlab==4.0.4
tqdm==4.66.1
